.header-wrapper :global{
  ul{
    background: #294662;
    color: white;
    .ant-menu-item,
    .ant-menu-submenu {
      .ant-menu-submenu-title, .ant-menu-item{

        &:hover{
          background: #4487f0!important;
          color: white;
        }
      }
      &:hover{
        background: #4487f0!important;
        color: white;
      }
    }
  }

  .ant-menu.ant-menu-sub.ant-menu-vertical{
    background: #4f7093!important;
  }


}